<div class="tab about" data-group="primary" data-tab="about">
    <h1>About</h1>
    <p>Hi! My name is Andy, but I go by DJ. I hope you're enjoying my modules. I made them to make my life easier and I hope it makes yours easier as well!</p>

    <h2>My Modules</h2>
    <p><a href="https://github.com/Djphoenix719/PDFoundry">PDFoundry</a>, a fully featured PDF viewer including form fillable character sheets and more.</p>
    <p><a href="https://github.com/Djphoenix719/FVTT-PF2EToolbox">PF2E Toolbox</a>, a collection of tweaks and improvements for both quality of life and system improvement for the Pathfinder 2E system.</p>

    <hr>

    <p><a href="https://ko-fi.com/djsmods" target="_blank">If you want to support my work, consider supporting me on Ko-Fi.</a></p>
</div>